export JUPYTER_HOME="{{ jupyter_install_dir }}/jupyter"
export JUPYTER_PATH="${JUPYTER_HOME}/data"
export JUPYTER_CONFIG_DIR="${JUPYTER_HOME}/config"
export JUPYTER_RUNTIME_DIR="${JUPYTER_PATH}/runtime"
