[Unit]
Description=Apache Hadoop ({{ service }})
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
User={{ hadoop_user_name }}
Type=forking
Environment=JAVA_HOME={{ java_home }}
Environment=HADOOP_CONF_DIR={{ hadoop_home }}/etc/hadoop
ExecStart={{ hadoop_home }}/sbin/yarn-daemon.sh --config $HADOOP_CONF_DIR start {{ service }}
ExecStop={{ hadoop_home }}/sbin/yarn-daemon.sh --config $HADOOP_CONF_DIR stop {{ service }}
TimeoutSec=30
Restart=on-failure
RestartSec=30
StartLimitInterval=350
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
