[Unit]
Description=Backup Plan dev-UI
After=network.target

[Service]
Environment="BACKUP_PLAN_UI_PORT=4001"
Environment="MYSQL_DATABASE="
Environment="MYSQL_HOST="
Environment="MYSQL_PASS="
Environment="MYSQL_PORT="
Environment="MYSQL_USER="
ExecStart=/opt/backup-plan-ui/dev/backup-plan-ui mysql
Type=simple

[Install]
WantedBy=multi-user.target
